<!doctype html>
<html>
  <head>
    <title>ToDo List</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
  </head>
  <body>

    <h2>Todo List</h2>

    <div>
      <form action="/create" method="post">
        <input type="text" name="task" placeholder="Insert a new task" required>
        <button type="submit">Add</button>
      </form>
    </div>

    <div>
      <ul>
      {% if not list_items %}
        <li>There's no item in the list</li>
      {% else %}
        {% for item in list_items %}
          <li>
            <form action="/edit/{{ loop.index }}" method="post" style="display: inline-block;">
              <input type="text" name="task" value="{{ item }}" required />
              <button type="submit">Edit</button>
            </form>

            <form action="/delete" method="post" style="display: inline-block;">
              <input type="hidden" name="id" value="{{ loop.index }}" />
              <button type="submit">Delete</button>
            </form>
          </li>
        {% endfor %}
      {% endif %}
      </ul>
    </div>
  </body>
</html>
